<menu>
  <item>
    <title>Inicio</title>
    <link href="/">
  </item>
  <item>
    <title>Productos</title>
    <link href="/productos">
    <submenu>
      <item>
        <title>Categoría 1</title>
        <link href="/productos/categoria1">
      </item>
      </submenu>
  </item>
  </menu>