<menu>
    <item name="Inicio" link="index.html"/>
    <item name="Servicios" link="#">
        <submenu>
            <item name="Diseño Web" link="web.html"/>
            <item name="Marketing" link="marketing.html"/>
        </submenu>
    </item>
    <item name="Contacto" link="contacto.html"/>
</menu>
